.index{
    background-image: url(img/cofee2background.jpg);
    background-size: cover;
    
}    
.bodyContainer{
    background-color: white;
}
.menuBar{
    display: flex;
    
    flex-wrap: wrap;
}
.logo{
    width: 41%;
}
.menulist{

    width:33%;
    
}
.ul{
    cursor:pointer;
    display: flex;
    justify-content: space-between;
}
.ul{
    list-style: none;
    font-size: x-large;
    color: rgb(173, 5, 5);
}   
.quote{
    font-size: 77px;
    padding-left: 75px;
    padding-top: 51px;
    padding-bottom: 30px;
    color: rgb(173, 5, 5);
    font-weight: bold;
}   
.discription{
    width: 40%;
    padding: 37px 0px 26px 78px;
    color: rgb(173,5,5);
    padding: top;
}
.submit{
    width: 40%;
    padding: 37px 0px 0px 78px;
    color: rgb(173,5,5);
    padding: top;
}
.submit button{
    font-style: normal;
    font-size: large;
    background: #a71c14;
    color: #ffffff;
}
.contents{
    padding: 16px 0px 90px 0px;
}
.logo img{
    height: 71px;
    padding-left: 59px;
}
.index2{
    display: flex;
}
.image1{
    width: 50%;
    padding: 122px 0px 40px 72px;
}
.image1 img{
    box-shadow:46px 34px 2px 1px rgb(227 85 74 / 71%);
    width: 66%;
   
}
.ourStory{
    width:50%;
    text-align: justify;
    padding: 77px 149px 0px 0px;
    color: rgb(173, 5, 5);
    font-size:large
}

.index3{
    display:flex;
}
.image2{
    width:50%;
    padding: 79px 0px 0px 219px;
}
.image2 img{
    box-shadow:-32px 36px 2px 1px rgb(227 85 74 / 71%);
    width: 66%;
    height: 65%;

}
.chooseCoffee{
    width: 50%;
    padding-right: 217px;
    padding: 43px 0px 40px 72px;
    color: rgb(173, 5, 5);
    font-size:large
}
.locationTitle{
    margin:20px;
    color: rgb(173, 5, 5);
    font-size:x-large;
    font-weight: bold;
}
.locations{
    display:flex;
    justify-content: center;
    padding: 0px 25px;
    flex-wrap: wrap;
  
    gap: 25px;
}
.locations .location {
    
    display: flex;
    flex:1;
    flex-direction: column;
   
}

 
.location img{
    width:100%;
    height: 300px;
    
}

.locationDetails{
    flex:1;
    color: rgb(173, 5, 5);
    background-color: #eb987fb2;
    padding: 10px;
}


.aboutUs{
    color: rgb(173, 5, 5);
    font-size:x-large;
    font-weight: bold;
}
.page4Contents{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color:#eb987fb2;
}
.twoCoffeeImage{
   flex: 1 1 45%;
  
}
.twoCoffeeImage img{
    width: 100%;
    height: 100%;
}
.page4description{
   
    flex:1 1 45%;
    padding:15px;
    color:rgb(142, 0,0); ;
}
#Title4{
    color: rgb(142, 0,0);
    padding-top: 20px;
    font-size: 2.5em;
}
.lastPageContent{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.lastlogo{
   flex:1 1 20%;
  
    
}
.lastlogo img{
    width: 80%;
    min-height: 450px;
}

.DownTownCarry ,.newLocation{
    color: rgb(142, 0,0);
   
    
  
    flex: 1 1 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 250px;
    padding: 10px;

}

.overall{
    background-color:  #dd1010b0;
    padding: 100px;
}



